<!DOCTYPE html>
{% load static %}

<html>
<head>
  <meta charset="utf-8">
  <title>
    {% block title %}
      {{ page_title|default:"Chapters" }}
    {% endblock title %}
  </title>

  {% block styles %}{% endblock styles %}

  {#bootstrap#}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/e58ba3ceba.js" crossorigin="anonymous"></script>
  {#  <script src="https://use.fontawesome.com/ffda900719.js"></script>#}

  {# Custom CSS#}{#  <link rel="stylesheet" href="{% static '/css/chapters.css' %}">#}
  <link rel="stylesheet" href="{% static 'chapters.css' %}">

  {# Fonts#}
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>


<body>

  <!-- NAVBAR -->
  <div class="container">
    <div class="row nav">

      {% if user.is_authenticated %}

        <li class="nav-item nav-brand col-sm-2">
          <a class="nav-link active" href="{% url 'chapters:chap_list' %}"><h4>Chapters</h4></a>
        </li>

        <li class="nav-item col-sm-2">
          <a class="nav-link" href="{% url 'chapters:chap_new' %}"><i class="far fa-plus-square"></i> </a>
        </li>

        <li class="nav-item col-sm-1">
          <a class="nav-link" href="{% url 'chapters:about' %}">About</a>
        </li>

        <li class="nav-item col-sm-3">
          <a class="nav-link" href="http://www.edvin.co">EDV in Nittenau</a>
        </li>

        <li class="nav-item col-sm-2">
          <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </li>

        <li class="nav-item col-sm-2">
          <a class="nav-link" href="#">Willkommen: {{ user.username }}</a>
        </li>

      {% else %}

        <li class="nav-item nav-brand col-sm-2">
          <a class="nav-link active" href="#"><h4>Chapters</h4></a>
        </li>
        <li class="nav-item col-sm-1">
          <a class="nav-link" href="{% url 'chapters:about' %}">About</a>
        </li>

        <li class="nav-item col-sm-3">
          <a class="nav-link" href="http://www.edvin.co">EDV in Nittenau</a>
        </li>

        <li class="nav-item col-sm-3">
          <a class="nav-link" href="{% url 'login' %}"><span class="fa fa-user-o" aria-hidden="true"></span></a>
        </li>

      {% endif %}

      </div>
    </div>


  <!-- CONTENT BLOCK -->
  <div class="container">

          {% block content %}

          {% endblock content%}

  </div>


</body>
</html>